# Gere a secret key utilizando o site https://acte.ltd/utils/randomkeygen
# copie a chave da categoria Encryption key 256 e cole na variável SECRET_KEY

SECRET_KEY = <chave_gerada>

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30